<h1>Spectrum V Ellsworth Kelly</h1>
    <div class="spectrum-container">
        <div class="row">
            <div class="color-box color1"></div>
            <div class="color-box color2"></div>
            <div class="color-box color3"></div>
            <div class="color-box color4"></div>
            <div class="color-box color5"></div>
        </div>
        <div class="row">
            <div class="color-box color6"></div>
            <div class="color-box color7"></div>
            <div class="color-box color8"></div>
            <div class="color-box color9"></div>
            <div class="color-box color10"></div>
            <div class="color-box color11"></div>
            <div class="color-box color12"></div>
            
        </div>
        <div class="row">
            <div class="color-box color13"></div>
            <div class="color-box color14"></div>
            <div class="color-box color15"></div>
            <div class="color-box color16"></div>
            <div class="color-box color17"></div>
            <div class="color-box color18"></div>
            <div class="color-box color19"></div>
            <div class="color-box color20"></div>
            <div class="color-box color21"></div>